/* homepage */
.homepage-style {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.left-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.sliders-buttons button {
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 100;
  font-size: 2rem;
}
.up-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(-100%);
}

.down-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.right-slider {
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.home-page-description {
  color: #fff;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.right-slider-item{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}
.homepage-to-do-app_description h1,
.homepage-css-power_description h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.homepage-to-do-app_description {
  justify-content: end;
}

.homepage-tick-tack-description {
  background-color: red !important;
}
.homepage-to-do-app_description {
  background-color: blue !important;
}
.homepage-css-power_description {
  background-color: green !important;
}
.homepage-to-do,
.homepage-css-power {
  align-self: center;
  justify-self: center;
}
.homepage-to-do {
  background-color: pink;
}
.homepage-css-power {
  background-color: burlywood;
}
.tick-tack-toe_container {
  background-color: wheat;
}

/* @media screen and (max-width: 700px) {
  .homepage-style {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .to-do-app {
    padding: 1rem;
    min-width: 75vw;
    min-height: 30vh;
  }
  .homepage-css-area {
    max-width: 80vw;
    max-height: none;

    padding: 0.6rem;
  }
  .navigation {
    width: 100%;
  }
  .cssPowerGrid {
    padding: 1rem;
  }
  .navLink {
    margin-left: 0;
  }
  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  footer {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  * {
    font-size: large;
  }
  body {
    font-size: 10rem !important;
    grid-template-rows: 0.5fr 4fr 0.4fr;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .navLinks {
    gap: 15px;
  }
  .homepage-css-area {
    max-height: none;
  }
  .cssPowerGrid {
    grid-template-columns: 1fr;
  }
  .to-do-app {
    margin-bottom: 5px;
    min-height: 70vh;
  }
  .to-do-app-form {
    display: flex;

    flex-direction: column;
    gap: 5px;
  }
  .to-do-app {
    width: 80vw;
    height: 50vh;
  }
} */
