/* Navigation Part */
.navigation {
  grid-row: 1/2;
  width: 100%;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  font-style: italic;
  cursor: pointer;
  border-radius: 1.4rem;
  margin: 0.7rem;
  background: linear-gradient(rgb(216, 38, 38), rgb(59, 59, 198));
  padding: 0.5rem;
}

.logo-title {
  font-weight: 900;
  word-wrap: none;
  color: rgb(196, 212, 190);
  font-size: 1.5rem;
}
.navLink {
  list-style: none;
  display: inline;
  left: -1px;
  margin-left: 20px;
  color: wheat;
  cursor: pointer;
}
.navLinks {
  margin-bottom: 0.5rem;
}
