.tick-tack-toe_container {
  min-width: 30vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 246, 246);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 15px;
  border-radius: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.tick-tack-toe_gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: lightblue;
  border: 1px solid black;
  width: 30vw;
  height: 40vh;
}
.tick-tack-toe_area {
    border: 1px solid darkblue;
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}